<!DOCTYPE html>
<html>

<head>
    <title>Course Details</title>
</head>

<body>
    <h1>Course Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.description }}</td>
                <td>
                    <a href="{% url 'edit_course' course.pk %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_edit_course' %}">Add New Course</a>
</body>

</html>